body {
    background-color: #C46D5E;
    color: #ffffff;
    font-family:'Quicksand', sans-serif;
}

#myName {
    text-align: center;
   font-size: 51 px;
    color: #f3c98b;
    padding: 0px 0px 0px 50px;
}

#myName2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
    padding: none;
}

#descrição {
    background-color: #ffffff;
    color: #000000;





}

#foto-igor {
    border-radius: 200px;
    height: 200px;
    border-style:solid;
    border-color: #f3c98b;
    

}
  

h2 {
    color: #f3c98b
    -webkit-stroke-color: #ffffff;
    -webkit-stroke-width: 1px;

}



a:visited{

 color: #ffffff
}

