body {
    background-color: #C46D5E;
    color: #ffffff;
    font-family:'Quicksand', sans-serif;
}

h2 {
    color: #f3c98b
    -webkit-stroke-color: #ffffff;
    -webkit-stroke-width: 1px;

}

#myName {
    font-size: 51 px;
    color: #f3c98b;
    margin: 10px;
    text-align: center;
    top: 50px;

}

#myName2 {
    color: #f3c98b;
    font-size: 20px;
    padding: none;
    position: absolute;
    top: 300px;
    left: 310px
}

#descrição {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    left: 550px;
    top: 200px;
;
}

#foto-igor {
    border-radius: 200px;
    height: 200px;
    border-style:solid;
    border-color: #f3c98b;
    align-content:  center;
    position: absolute;
    top: 100px;
    left: 250px;
    margin: 10px;
}
  


#titleDescrição {
    position: absolute;
    left: 545px;
    top: 150px;
    padding: 5px;

}



a:visited{

 color: #ffffff
}

